.home{
    height: 100%;
    .header_img{
      height: 22px;
      width: 22px;
    }
    .home_content{
      width: 100%;
      height: calc(100% - 64px);
      position: absolute;
      overflow: hidden;
      .content_list{
        position: relative;
        overflow: auto;
        .list_nocontent{
          text-align: center;
          margin-top: 134px;
          font-size: @F15;
          color: @C333;
          img{
              height: 100px;
              width: 100px;
          }
          .list_reload{
            padding: 14px 0;
            text-align: center;
            font-size: 15px;
            color: @CF44;
            img{
              height: 16px;
              width: 16px;
              margin-right: 6px;
              vertical-align:top
        
            }
          }
        }
        .list_loading{
            font-size: @F15;
            color: @CCDC;
            text-align: center;
            img{
                width: 20px;
                height: 20px;
            }
        }
        .list_shops{
          height: 100%;
          .list_detail{
            margin-bottom: 12px;
            .detail_img{
                border-radius: 3px;
                img{
                    margin: auto;
                    height: 100%;
                    width: 100%;
                }
            }
            .detail_title{
                font-size: @F16;
                font-weight: bold;
                color: @C333;
            }
            .detail_desc{
                margin-top: @M12;
                font-size: @F12;
                color: @C666;
              .desc_area{
                max-width: 60px;
                margin-right: @M10;
              }
              .desc_type{
                max-width: 120px;
              }
            }
            .detail_sale{
              margin-top: @M8;
              font-size: @F11;
              .tag_text{
                  color: @CF44;
              }
              .sale_tag{
                margin-right: 5px;
                margin-bottom: 6px;
                .ellipsis{
                  max-width: 190px;
                }
              }
              .sale{
                width: 13px;
                height: 13px;
              }
              .area{
                font-size: @F12;
                height: 18px;
                line-height: 18px;
                padding: 0 4px;
                border-radius: 2px;
                background: @CE85;
                color: @CFFF;
                display: inline-block;
                max-width: calc(100% - 10px);
                img{
                  height: @F14;
                  width: @F14;
                  vertical-align: sub;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
    .home_bottom{
      background: #f7f7f7;
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 100;
      // height: 34px;
    }
  }