@F11:11px;
@F12:12px;
@F13:13px;
@F14:14px;
@F15:15px;
@F16:16px;
@F18:18px;

@M8:8px;
@M10:10px;
@M12:12px;
@M16:16px;
@M20:20px;
@M24:24px;
@M28:28px;
@M32:32px;

@P10:10px;
@P16:16px;
@P20:20px;
@P24:24px;
@P28:28px;
@P32:32px;

@CEEE:#eeeeee;
@CFFF:#ffffff;
@C999:#999999;
@C666:#666666;
@C444: #444444;
@C333:#333333;
@CE85:#E85E4E;
@CF44: #F44336;
@CCDC: #CDCDCD;
@CD8D: #D8D8D8;